.header {
  background-color: #333;
  height: 50px;
  overflow: auto;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;

    a {
      color: #fff;
      text-transform: uppercase;
    }
  }
}
