.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  width: 100%;

  .card-image {
    border-radius: 1rem 1rem 0 0;
    height: 200px;
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;

    .text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;

      .price {
        color: #f26a2e;
      }
    }
  }
}
