* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 5rem 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  font-size: 0.9rem;
  text-decoration: none;
}

li {
  list-style: none;
}

.breakpoint {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  background-color: #333;
  border: none;
  color: #fff;
  min-height: 50px;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  width: fit-content;
  cursor: pointer;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
